@import url('https://fonts.googleapis.com/css?family=Baloo');
*{
  padding: 0;
  margin: 0;
}
body{
  background: #e5fce3;
  font-family: 'Baloo', cursive;
}
ul{
  display: block;
  list-style: none;
  margin-top: 50px;
  margin-left:200px; 
}
li{
  display:inline-block;
  font-size: 20px;
  width: 200px;
  background:#7dcc76;
  color: #e5e5e5;
  text-align: center;
  height: 35px;
  line-height: 35px;
  border-radius: 6px 6px 0 0;
  margin-right:-2px;
}
li:hover{
background: #9ef7a5;
}
.activated{
  box-sizing: border-box;
  border-top: 1px solid #000;
  background: white;
  color: #000;
}
ul:first-child{
  margin-right: 0px;
}
.content{
  background: #fff;
  width: 803px;
  min-height: 50px;
  margin-left: 200px;
  border-radius: 4px;
  display: none;
}
.active{
    display: block;
}
p{
  padding:0 15px; 
}